{% set map = salt['grains.filter_by']({
    'Debian': {
        'package': 'rabbitmq-server',
        'service': 'rabbitmq-server',
        'user': 'rabbitmq',
        'group': 'rabbitmq',
        'home_dir': '/var/lib/rabbitmq',
        'erlang_user': 'rabbit',
        'erlang_master': 'localhost',
        'config_file': '/etc/rabbitmq/rabbitmq.config',
        'pillar_ssl_cert': 'rabbitmq:cert',
        'pillar_ssl_key': 'rabbitmq:key'
    },
    'RedHat': {
        'package': 'rabbitmq-server',
        'service': 'rabbitmq-server',
        'user': 'rabbitmq',
        'group': 'rabbitmq',
        'home_dir': '/var/lib/rabbitmq',
        'erlang_user': 'rabbit',
        'erlang_master': 'localhost',
        'config_file': '/etc/rabbitmq/rabbitmq.config',
        'pillar_ssl_cert': 'rabbitmq:cert',
        'pillar_ssl_key': 'rabbitmq:key'
    },
    'Gentoo': {
        'package': 'net-misc/rabbitmq-server',
        'service': 'rabbitmq-server',
        'user': 'rabbitmq',
        'group': 'rabbitmq',
        'home_dir': '/var/lib/rabbitmq',
        'erlang_user': 'rabbit',
        'erlang_master': 'localhost',
        'config_file': '/etc/rabbitmq/rabbitmq.config',
        'pillar_ssl_cert': 'rabbitmq:cert',
        'pillar_ssl_key': 'rabbitmq:key'
    },
}, merge=salt['pillar.get']('rabbitmq:lookup')) %}
